@model C500Hemis.Models.TbTaiSanTriTue

@{
    ViewData["Title"] = "Details";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        .btn {
            transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
        }

            .btn :hover {
                transform: scale(1.5); /* Làm to nút lên khi hover vào */
            }

        .btn-hover {
            transition: transform 0.3s ease;
        }

            .btn-hover:hover {
                transform: scale(1.2);
            }
    </style>
</head>
<body style="    background: linear-gradient(
          to top,
          #87ceeb,
          #fffacd
        );">

    <div class="container mt-5" style="position: sticky;">
        <!-- Đây là một container chính với khoảng cách phía trên (mt-5) và thuộc tính sticky -->
        <div class="row justify-content-center">
            <!-- Tạo một hàng để căn giữa nội dung trong container -->
            <div class="col-md-8">
                <!-- Cột chiếm 8/12 chiều rộng của hàng -->
                <div class="card shadow-sm" style="height: 100vh; overflow-y: auto;">
                    <!-- Card để chứa nội dung với bóng mờ và chiều cao 100% viewport, cuộn dọc nếu vượt quá -->
                    <div style="background-color: lightblue; padding: 20px;">
                        <!-- Phần đầu của card với nền màu xanh nhạt và l padding -->
                        <h1 class="card-title text-center mt-3">Thông Tin Chi Tiết</h1>
                        <!-- Tiêu đề chính của card -->
                    </div>

                    <hr />
                    <div class="card-body">
                        <!-- Phần nội dung chính của card -->
                        <table class="table table-striped table-hover" style="border-radius: 20px;">
                            <!-- Bảng chứa thông tin chi tiết, với các kiểu dáng bảng hấp dẫn -->
                            <tbody>
                                <!-- Phần thân của bảng -->
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.MaGiaiPhapSangChe)</th>
                                    <td>@Html.DisplayFor(model => model.MaGiaiPhapSangChe)</td>
                                </tr>
                                <!-- Các hàng với tên thuộc tính và giá trị tương ứng từ model -->
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TenTaiSanTriTue)</th>
                                    <td>@Html.DisplayFor(model => model.TenTaiSanTriTue)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ToChucCapBangGiayChungNhan)</th>
                                    <td>@Html.DisplayFor(model => model.ToChucCapBangGiayChungNhan)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.NgayCapBangGiayChungNhan)</th>
                                    <td>@Html.DisplayFor(model => model.NgayCapBangGiayChungNhan)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ToChucCapBang)</th>
                                    <td>@Html.DisplayFor(model => model.ToChucCapBang)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.SoBang)</th>
                                    <td>@Html.DisplayFor(model => model.SoBang)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.NgayCap)</th>
                                    <td>@Html.DisplayFor(model => model.NgayCap)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.SoDon)</th>
                                    <td>@Html.DisplayFor(model => model.SoDon)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.NgayNopDon)</th>
                                    <td>@Html.DisplayFor(model => model.NgayNopDon)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.QuyetDinhCapBangGiayChungNhan)</th>
                                    <td>@Html.DisplayFor(model => model.QuyetDinhCapBangGiayChungNhan)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CongBoBang)</th>
                                    <td>@Html.DisplayFor(model => model.CongBoBang)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Ipc)</th>
                                    <td>@Html.DisplayFor(model => model.Ipc)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.ChuSoHuu)</th>
                                    <td>@Html.DisplayFor(model => model.ChuSoHuu)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TacGiaSangCheGiaiPhap)</th>
                                    <td>@Html.DisplayFor(model => model.TacGiaSangCheGiaiPhap)</td>
                                </tr>
                                @if (Model.TomTatNoiDungTaiSanTriTue != null)
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TomTatNoiDungTaiSanTriTue)</th>
                                    <td>
                                        <span class="short-description">@String.Join(" ", Model.TomTatNoiDungTaiSanTriTue.Split(' ').Take(10))...</span>
                                        <span class="full-description" style="display: none;">@Model.TomTatNoiDungTaiSanTriTue</span>
                                        <a href="javascript:void(0)" onclick="toggleDescription(this)" style="color: blue; cursor: pointer;">Xem thêm</a>
                                    </td>
                                </tr>

                            }
                            else
                            {
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.TomTatNoiDungTaiSanTriTue)</th>
                                    <td>Không có miêu tả</td>
                                </tr>

                            }
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.NguoiChuTri)</th>
                                    <td>@Html.DisplayFor(model => model.NguoiChuTri)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.NamDuocChapNhanDonHopLe)</th>
                                    <td>@Html.DisplayFor(model => model.NamDuocChapNhanDonHopLe)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.IdLoaiTaiSanTriTueNavigation)</th>
                                    <td>@Html.DisplayFor(model => model.IdLoaiTaiSanTriTueNavigation.IdLoaiTaiSanTriTue)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.IdNhiemVuKhcnNavigation)</th>
                                    <td>@Html.DisplayFor(model => model.IdNhiemVuKhcnNavigation.IdNhiemVuKhcn)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-primary btn-hover " style="margin: 5px;" asp-action="Edit" asp-route-id="@Model?.IdTaiSanTriTue"><i class="fas fa-edit"></i></a>
        <a class="btn btn-secondary btn-hover" style="margin: 5px;" asp-action="Index"><i class="fas fa-undo-alt"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    <script>
    function toggleDescription(link) {
        var td = link.parentElement;
        var shortDesc = td.querySelector('.short-description');
        var fullDesc = td.querySelector('.full-description');

        if (fullDesc.style.display === "none") {
            fullDesc.style.display = "inline";
            shortDesc.style.display = "none";
            link.textContent = " Thu gọn";
        } else {
            fullDesc.style.display = "none";
            shortDesc.style.display = "inline";
            link.textContent = "Xem thêm";
        }
    }


    </script>

</body>
