<<<<<<< Updated upstream
﻿@section heads {
    <style>
        footer {
            position: absolute;
            left: 0;
        }
    </style>
}
@model IEnumerable<C500Hemis.Models.TbTaiSanTriTue>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DANH SÁCH</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap"
              rel="stylesheet" />



        <style>
             body
    {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        background-image: url("/images/taisantritue.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
            /* Định dạng cho nội dung chính */
            .content {
                height: 700px; /* Chiều cao cố định của view */
                overflow-y: auto; /* Tạo thanh trượt dọc */
                border: 1.5px solid #ccc; /* Tùy chọn: tạo viền cho rõ ràng */
                padding: 10px; /* Khoảng cách bên trong */
            }

            /* Định dạng cho các hàng */
            .Tr {
                width: auto; /* Chiều rộng tự động */
                text-align: center; /* Căn giữa văn bản */
                max-height: min-content; /* Chiều cao tối đa là nội dung */
            }

            /* Định dạng cho các ô tiêu đề và ô dữ liệu */
            th, td {
                border: 2px solid rgb(17 104 118); /* Viền màu xanh */
                text-align: center; /* Căn giữa văn bản */
                padding: 10px; /* Khoảng cách bên trong */
            }

            /* Hiệu ứng khi hover vào hàng dữ liệu */
            .value:hover {
                background-color: #f5f5f5; /* Màu nền khi hover */
            }

                /* Hiệu ứng khi hover vào ô dữ liệu */
                .value:hover td {
                    color: #333; /* Màu chữ khi hover */
                }

            /* Hiệu ứng khi hover vào nút */
            .btn:hover {
                color: white; /* Màu chữ khi hover */
            }

            /* Định dạng nút chủ đạo */
            .btn-primary {
                background-color: #007bff; /* Màu nền xanh dương */
            }

            /* Định dạng nút nguy hiểm */
            .btn-danger {
                background-color: #dc3545; /* Màu nền đỏ */
            }

            /* Hiệu ứng khi nút được nhấn */
            .btn-create:active {
                font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Thay đổi bóng đổ khi nhấn */
            }

            /* Định dạng văn bản trong form */
            form .text {
                text-align: right; /* Căn lề phải */
            }

            /* Định dạng chính */
            .main {
            }

            /* Định dạng cho phần phân trang */
            .pagination {
                display: flex; /* Hiển thị dưới dạng flexbox */
                justify-content: center; /* Căn giữa các phần tử */
                padding: 10px; /* Khoảng cách bên trong */
            }

                /* Định dạng cho liên kết trong phân trang */
                .pagination a {
                    margin: 0 5px; /* Khoảng cách giữa các liên kết */
                    padding: 8px 16px; /* Khoảng cách bên trong */
                    text-decoration: none; /* Bỏ gạch chân */
                    color: #007bff; /* Màu chữ xanh dương */
                }

                    /* Định dạng cho liên kết trang hiện tại */
                    .pagination a.active {
                        background-color: #007bff; /* Màu nền xanh dương */
                        color: white; /* Màu chữ trắng */
                    }

            /* Định dạng chung cho nội dung */
            .content {
                background-color: lightblue; /* Màu nền xanh nhạt */
                border-radius: 10px; /* Bo góc */
            }

            /* Định dạng nút thành công */
            .btn-success {
                transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
                border-radius: 50%; /* Bo góc tròn */
                font-size: larger; /* Kích thước chữ lớn hơn */
            }

                /* Hiệu ứng khi hover vào  nút thuộc tính .btn-success  */
                .btn-success:hover {
                    transform: scale(1.3); /* Làm to nút lên khi hover vào */
                    color: aquamarine; /* Màu chữ */
                }

            /* Định dạng chung cho nút nhỏ */
            .btn-sm {
                transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
            }

                /* Hiệu ứng khi hover vào nút nhỏ */
                .btn-sm :hover {
                    transform: scale(1.7); /* Làm to nút lên khi hover vào */
                }

            /* Định dạng  nút thuộc tính .btn-primary  */
            .btn-primary {
                transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
            }

                /* Hiệu ứng khi hover vào  nút thuộc tính .btn-primary */
                .btn-primary:hover {
                    transform: scale(1.2); /* Làm to nút lên khi hover vào */
                }

            /* Định dạng nút có thuộc tính .btn-danger*/
            .btn-danger {
                transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */
            }

                /* Hiệu ứng khi hover vào thuộc tính .btn-danger */
                .btn-danger:hover {
                    transform: scale(1.2); /* Làm to nút lên khi hover vào */
                }
        </style>

    </head>
    <body>


        <!-- Tiêu đề trang -->
        <div>
            <h1 style="text-align: center; color:#010000; padding-bottom: 40px; margin-top:20px; font-family: 'Dancing Script', cursive; font-size:5rem;">
                Tài Sản Trí Tuệ
            </h1>
        </div>

        <!-- Container chính -->
        <div class="container">
            <div class="row">
                <!-- Form tìm kiếm -->
                <div class="col-md-5">
                    <form asp-action="Index" method="get" class="form-inline mb-3 justify-content-center">
                        <div class="form-group">
                            <label for="searchId" class="mr-2">
                                <strong style="color: #0d0a0a;">Search by ID:</strong>
                            </label>
                            <input type="number" name="id" class="form-control mr-2" id="searchId" placeholder="Enter ID" />
                            <button type="submit" class="btn btn-primary" style="margin: 5px;">
                                <i class="fas fa-search" title="Tìm Kiếm Bằng ID"> Search</i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Khoảng trống giữa form và nút thêm mới -->
                <div class="col-md-5"></div>
                <!-- Nút thêm mới -->
                <div class="col-md-2">
                    <p class=" text" style="text-align: right;">
                        <a class="btn btn-success" asp-action="Create">
                            <i class="fas fa-plus" title="Thêm Mới"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Phần nội dung chính -->
        <div class="main">
            <div>
                <h1 class="text-center">@ViewData["Title"]</h1>
            </div>

            <!-- Hiển thị thông báo không tìm thấy -->
            @if (ViewBag.NotFoundMessage != null)
        {
            <div class="message container alert alert-danger text-center" style="width: 50vw;">
                @ViewBag.NotFoundMessage
            </div>
        }
            <h2 class="alert alert-info" style="text-align: center;">Số bản ghi : @Model.Count()</h2><!--Đếm số đối tượng-->
            <!-- Bảng dữ liệu -->
            <div class="content container" style="margin-bottom: 70px;">
                <table id="data-table" class="table table-hover table-striped text-center table-responsive-lg" style="white-space: nowrap; background-color: bisque;">
                    <thead class="thead-dark">
                        <tr class="Tr">
                            <th>Actions</th>
                            <th>@Html.DisplayNameFor(model => model.IdTaiSanTriTue)</th>
                            <th>@Html.DisplayNameFor(model => model.MaGiaiPhapSangChe)</th>
                            <th>@Html.DisplayNameFor(model => model.TenTaiSanTriTue)</th>
                            <th>@Html.DisplayNameFor(model => model.ChuSoHuu)</th>
                            <th>@Html.DisplayNameFor(model => model.TacGiaSangCheGiaiPhap)</th>
                            <th>@Html.DisplayNameFor(model => model.NguoiChuTri)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                    {
                        <tr class="value Tr" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Details", new { id = item.IdTaiSanTriTue })'">
                            <td>
                                <!--Định dạng icon và màu sắc các btn-->
                                <a class="btn btn-primary btn-sm" title="Chỉnh Sửa" asp-action="Edit" asp-route-id="@item.IdTaiSanTriTue"><i class="fas fa-user-edit"></i></a>
                                <a class="btn btn-danger btn-sm" title="Xóa" asp-action="Delete" asp-route-id="@item.IdTaiSanTriTue"><i class="fas fa-trash-alt"></i></a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.IdTaiSanTriTue)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaGiaiPhapSangChe)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenTaiSanTriTue)</td>
                            <td>@Html.DisplayFor(modelItem => item.ChuSoHuu)</td>
                            <td>@Html.DisplayFor(modelItem => item.TacGiaSangCheGiaiPhap)</td>
                            <td>@Html.DisplayFor(modelItem => item.NguoiChuTri)</td>
                        </tr>
                    }


                    </tbody>
                    </class>
            </div>
            <div class="pagination" id="pagination"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    </body>
=======
﻿@model IEnumerable<C500Hemis.Models.TbTaiSanTriTue>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DANH SÁCH</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" rel="stylesheet" />

    <style>
        
        .container{
            padding: 0;
        }

        /* CSS cho Logo HVAN đầu trang */
        .tittle {
            display: flex;
            flex-direction: row;
            padding-bottom: 20px;
            color: darkgreen;
            text-shadow: 1px 1px 0 white;
        }

            .tittle h4 {
                font-weight: 800;
                font-family: "Times New Roman", Times, serif;
            }

            .tittle h6 {
                font-style: italic;
                font-weight: 800;
                text-align: right;
                font-family: "Times New Roman", Times, serif;
            }

        /* CSS dòng THÔNG TIN TÀI SẢN TRÍ TUỆ*/
        .main-text {
            background-color: rgba(26, 102, 26, 0.9); 
            color: #fff;
            text-shadow: 2px 2px 0 black;
            font-weight: bold;
            padding: 10px 15px;
        }

        h1 {
            text-align: center;
        }

        /*Nút Thêm mới*/
        .search-create-wrapper {
            display: flex;
            justify-content: space-between; /* Căn đều khoảng cách giữa form và nút */
            align-items: center; /* Căn giữa theo chiều dọc */
            padding-bottom: 20px;
        }
            .search-create-wrapper form {
                padding-top: 15px;
                margin: 0; /* Xóa margin của form để nó không ảnh hưởng đến bố cục */
            }
            .search-create-wrapper p {
                margin: 0; /* Xóa margin của thẻ p chứa nút */
            }

        /*Nút thêm mới*/
        .btn-custom {
            background-color: #298A08;
            border-color: #298A08;
            color: white;
            text-shadow: 0.5px 0.5px 0 #A4A4A4;
        }
        
        
        /*Thân trang*/
        body{
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #ECF8E0, #E0F8EC);
        }

        
        /* bảng */
        #dataTable {
            white-space: nowrap; /* Phần tử trong một ô hiển thị liên tục mà không bị ngắt dòng*/
        }

        th{
            border: 2px solid rgb(17 104 118);
            text-align: center;
            padding: 10px;
        }
        td{
            border: 2px solid rgb(17 104 118);
            text-align: center;
            padding: 10px;
        }

        .value:hover {
            background-color: #f5f5f5;
        }

        .value:hover td {
                color: #333;
                font-weight: bold;
        }

        .btn:hover {
            color: white;
        }

        /*nút edit*/
        .btn-primary {
            background-color: #FF8900; 
            border-color: #AC9800;
        }
        /*nút xóa*/
        .btn-danger {
            background-color: #dc3545; 
        }

         .btn-create:active {
            font-weight: bolder; /* Chữ sẽ đậm hơn khi nhấn */
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Thay đổi bóng đổ khi nhấn */
        }

        .wrapper{
            margin-bottom: 70px; /* thêm margin dưới để không bị dính foottage*/
        }
        
    </style>
</head>



<div class="wrapper">
    <div class="tittle">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/vi/8/85/Logo_hoc_vien_ANND.png" height="90px" width="90px" alt="Logo" />
        </div>
        <div style="padding-top:20px;padding-left:10px;">
            <h4>Học viện An ninh nhân dân</h4>
            <h6>C500 - 1946</h6>
        </div>
    </div>

    <h1 class="main-text">THÔNG TIN TÀI SẢN TRÍ TUỆ</h1>

    <div class="search-create-wrapper">
        <!-- Form tìm kiếm -->
        <form asp-controller="TaiSanTriTue" asp-action="Index" method="get" class="text-center mb-3">
            <div class="input-group">
                <input type="number" name="Search" placeholder="Tìm kiếm theo ID" />
                <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
            </div>
        </form>

        <!-- Nút Thêm mới -->
        <p>
            <a class="btn btn-custom" asp-action="Create">Thêm mới</a>
        </p>
    </div>


    @if (ViewBag.NotFoundMessage != null)
    {
        <div class="alert alert-warning text-center">@ViewBag.NotFoundMessage</div>
    }

    <table id="dataTable" class="table table-hover table-striped text-center table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>STT</th>
                <th>Chức năng</th>
                <th>@Html.DisplayNameFor(model => model.MaGiaiPhapSangChe)</th>
                <th>@Html.DisplayNameFor(model => model.TenTaiSanTriTue)</th>
                <th>@Html.DisplayNameFor(model => model.ToChucCapBangGiayChungNhan)</th>
                <th>@Html.DisplayNameFor(model => model.NgayCapBangGiayChungNhan)</th>
                <th>@Html.DisplayNameFor(model => model.ToChucCapBang)</th>
                <th>@Html.DisplayNameFor(model => model.SoBang)</th>
                <th>@Html.DisplayNameFor(model => model.NgayCap)</th>
                <th>@Html.DisplayNameFor(model => model.SoDon)</th>
                <th>@Html.DisplayNameFor(model => model.NgayNopDon)</th>
                <th>@Html.DisplayNameFor(model => model.QuyetDinhCapBangGiayChungNhan)</th>
                <th>@Html.DisplayNameFor(model => model.CongBoBang)</th>
                <th>@Html.DisplayNameFor(model => model.Ipc)</th>
                <th>@Html.DisplayNameFor(model => model.ChuSoHuu)</th>
                <th>@Html.DisplayNameFor(model => model.TacGiaSangCheGiaiPhap)</th>
                <th>@Html.DisplayNameFor(model => model.TomTatNoiDungTaiSanTriTue)</th>
                <th>@Html.DisplayNameFor(model => model.NguoiChuTri)</th>
                <th>@Html.DisplayNameFor(model => model.NamDuocChapNhanDonHopLe)</th>
                <th>@Html.DisplayNameFor(model => model.IdLoaiTaiSanTriTue)</th>
                <th>@Html.DisplayNameFor(model => model.IdNhiemVuKhcnNavigation)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="value Tr" style="cursor: pointer;" onclick="window.location.href='@Url.Action("Details", new { id = item.IdTaiSanTriTue })'">
                    <td>@i</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.IdTaiSanTriTue">Sửa</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdTaiSanTriTue">Xóa</a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdTaiSanTriTue">Chi tiết</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.MaGiaiPhapSangChe)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenTaiSanTriTue)</td>
                    <td>@Html.DisplayFor(modelItem => item.ToChucCapBangGiayChungNhan)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayCapBangGiayChungNhan)</td>
                    <td>@Html.DisplayFor(modelItem => item.ToChucCapBang)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoBang)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayCap)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoDon)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgayNopDon)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuyetDinhCapBangGiayChungNhan)</td>
                    <td>@Html.DisplayFor(modelItem => item.CongBoBang)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ipc)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChuSoHuu)</td>
                    <td>@Html.DisplayFor(modelItem => item.TacGiaSangCheGiaiPhap)</td>
                    <td>@Html.DisplayFor(modelItem => item.TomTatNoiDungTaiSanTriTue)</td>
                    <td>@Html.DisplayFor(modelItem => item.NguoiChuTri)</td>
                    <td>@Html.DisplayFor(modelItem => item.NamDuocChapNhanDonHopLe)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdLoaiTaiSanTriTueNavigation.LoaiTaiSanTriTue)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdNhiemVuKhcnNavigation.TenNhiemVu)</td>

                </tr>
                i++;
            }
        </tbody>
    </table>
    <p class="text-left">Số lượng bản ghi: @(i - 1)</p>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "paging": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "language": {
                "lengthMenu": "Hiển thị _MENU_ mục mỗi trang",
                "zeroRecords": "Không tìm thấy dữ liệu",
                "info": "Hiển thị _TOTAL_ trên tổng số _MAX_ bản ghi",
                "infoEmpty": "Không có dữ liệu",
                "infoFiltered": "(lọc từ _MAX_ tổng số mục)",
                "search": "Tìm kiếm:",
                "paginate": {
                    "first": "Đầu tiên",
                    "last": "Cuối cùng",
                    "next": "Sau",
                    "previous": "Trước"
                }
            }
        });
    });
</script>
>>>>>>> Stashed changes
