@model C500Hemis.Models.TbDoanhNghiepKhcn

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pacifico&display=swap" rel="stylesheet">
<style>
      body
    {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        background-image: url("/images/doanhnghiep.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
        .tieude{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 80px;
        color:rgb(69, 3, 3);
        font-family: "Bungee Inline", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .trang{
        margin-top: 100px;
    }
    .noidungs{
        font-size: 25px;
        font-weight: bold;
        color: rgba(9, 9, 52, 0.959);
    }
    .noidung{
        text-align: left;
    }
    .td{
        text-align: right;
    }
    .nut{
            display: flex;
            flex-direction: column; /* Đặt các phần tử theo cột */
            justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
            align-items: center;    /* Căn giữa các phần tử theo chiều ngang */      
    }
    .btn{
        background-color: lightblue;
        color:rgb(8, 12, 13);
        justify-content: center;
        font-size: 25px;
         font-weight: bold;
    }
    .btn:hover{
        background-color: rgb(245, 35, 35);
        color:#4a0007;
    }
</style>
</head>
<body>
<h1 class="tieude text-center">Delete</h1>

<h3 class="tieude text-center" style="font-size: 35px;">Are you sure you want to delete this?</h3>
<div class="container-fluid trang">
        <div class="row">
            <div class="col-md-6">
                <h1 class="tieude"> @Html.DisplayFor(model => model.TenDoanhNghiep)</h1>
                <form asp-action="Delete" class="nut">
                   <input type="hidden" asp-for="IdDoanhNghiepKhcn" />
                   <input type="submit" value="Delete" class="btn" style="width: 250px; height: 70px; border-radius: 50px; padding-top: 10px;" />
                   <a asp-action="Index" class="btn" style="width: 100px; height: 40px; border-radius: 20px; padding-top: 0; margin-top: 10px;">Back</a>
                </form>                
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 noidungs" >
                 <dl class="row">
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.MaDoanhNghiep)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.MaDoanhNghiep)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.DiaDiemThanhLap)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.DiaDiemThanhLap)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.QuyMoDauTu)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.QuyMoDauTu)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.KinhPhiGopVonTuTaiSanTriTue)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.KinhPhiGopVonTuTaiSanTriTue)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.TyLeGopVonCuaCsgddh)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.TyLeGopVonCuaCsgddh)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.IdHinhThucDoanhNghiepKhcnNavigation)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.IdHinhThucDoanhNghiepKhcnNavigation.HinhThucDoanhNghiepKhcn)
        </dd>
    </dl>
            </div>
        </div>
    </div>
</body>