@model C500Hemis.Models.TbDoanhNghiepKhcn

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Pacifico&display=swap" rel="stylesheet">
<style>
     body
    {
        height: 100%;
        margin: 0;
        overflow-y: auto;
        background-image: url("/images/doanhnghiep.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
        .tieude{
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        font-size: 80px;
        color:rgb(128, 46, 79);
        font-family: "Bungee Inline", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 171, 102), 0 0 5px rgb(94, 47, 90);
    }
    .trang{
        margin-top: 15%;
    }
    .noidungs{
        font-size: 25px;
        font-weight: bold;
    }
    .noidung{
        text-align: left;
        color: rgb(19, 14, 2);
        -webkit-text-stroke: 1px rgb(37, 26, 3); /* Độ dày và màu của viền chữ */
    }
    .td{
        text-align: right;
        color: rgb(23, 17, 4);
        -webkit-text-stroke: 1px rgb(18, 14, 5); /* Độ dày và màu của viền chữ */
    }
    .nut{
            display: flex;
            flex-direction: column; /* Đặt các phần tử theo cột */
            justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
            align-items: center;    /* Căn giữa các phần tử theo chiều ngang */      
    }
    .btn{
        background-color: rgb(103, 164, 29);
        color:#dbffa6;
        justify-content: center;
        font-size: 25px;
         font-weight: bold;
    }
    .btn:hover{
        background-color: rgb(152,238,204);
        color:rgb(0, 191, 127);
    }
</style>
</head>
<body>
    <div class="container-fluid trang">
        <div class="row">
            <div class="col-md-6">
                <h1 class="tieude"> @Html.DisplayFor(model => model.TenDoanhNghiep)</h1>
                <div class="nut">
               <a asp-action="Edit" asp-route-id="@Model?.IdDoanhNghiepKhcn" class="btn" style="width: 250px; height: 70px; border-radius: 50px; padding-top: 15px;">Edit</a><br/>
            <a asp-action="Index" class="btn" style="width: 100px; height: 40px; border-radius: 20px; padding-top: 0;">Back</a>
             </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 noidungs" >
                 <dl class="row">
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.MaDoanhNghiep)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.MaDoanhNghiep)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.DiaDiemThanhLap)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.DiaDiemThanhLap)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.QuyMoDauTu)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.QuyMoDauTu)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.KinhPhiGopVonTuTaiSanTriTue)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.KinhPhiGopVonTuTaiSanTriTue)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.TyLeGopVonCuaCsgddh)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.TyLeGopVonCuaCsgddh)
        </dd>
        <hr style="width: 60%; color: rgb(103, 164, 29);"/>
        <dt class = "col-md-7 td">
            @Html.DisplayNameFor(model => model.IdHinhThucDoanhNghiepKhcnNavigation)
        </dt>
        <dd class = "col-md-5 noidung">
            @Html.DisplayFor(model => model.IdHinhThucDoanhNghiepKhcnNavigation.HinhThucDoanhNghiepKhcn)
        </dd>
    </dl>
            </div>
        </div>
    </div>

</body>